@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }

  body {
    @apply bg-zinc-900 text-zinc-100 antialiased;
  }

  .drag-region {
    -webkit-app-region: drag;
  }

  button,
  .no-drag {
    -webkit-app-region: no-drag;
  }
}
